In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np
%matplotlib notebook

In [2]:
!pwd

/Users/Princess/Personal_projects/Readmission_proj

In [3]:
df = pd.read_csv('diabetic_readmission_data.csv')
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
encounter_id                101766 non-null int64
patient_nbr                 101766 non-null int64
race                        101766 non-null object
gender                      101766 non-null object
age                         101766 non-null object
weight                      101766 non-null object
admission_type_id           101766 non-null int64
discharge_disposition_id    101766 non-null int64
admission_source_id         101766 non-null int64
time_in_hospital            101766 non-null int64
payer_code                  101766 non-null object
medical_specialty           101766 non-null object
num_lab_procedures          101766 non-null int64
num_procedures              101766 non-null int64
num_medications             101766 non-null int64
number_outpatient           101766 non-null int64
number_emergency            101766 non-null int64
number_inpatient            101766 non-null int64
diag_1                      101766 non-null object
diag_2                      101766 non-null object
diag_3                      101766 non-null object
number_diagnoses            101766 non-null int64
max_glu_serum               101766 non-null object
A1Cresult                   101766 non-null object
metformin                   101766 non-null object
repaglinide                 101766 non-null object
nateglinide                 101766 non-null object
chlorpropamide              101766 non-null object
glimepiride                 101766 non-null object
acetohexamide               101766 non-null object
glipizide                   101766 non-null object
glyburide                   101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
rosiglitazone               101766 non-null object
acarbose                    101766 non-null object
miglitol                    101766 non-null object
troglitazone                101766 non-null object
tolazamide                  101766 non-null object
examide                     101766 non-null object
citoglipton                 101766 non-null object
insulin                     101766 non-null object
glyburide-metformin         101766 non-null object
glipizide-metformin         101766 non-null object
glimepiride-pioglitazone    101766 non-null object
metformin-rosiglitazone     101766 non-null object
metformin-pioglitazone      101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [5]:
df.isna().any().any() #to find any nan values

False

In [6]:
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [8]:
for column in df:
#     print(column)
#     print(counter)
    counter = 0
    for element in df[column]:
        #print(row)
        if element == '?':
            counter += 1
    print('{} : {}'.format(column, counter))

encounter_id : 0
patient_nbr : 0
race : 2273
gender : 0
age : 0
weight : 98569
admission_type_id : 0
discharge_disposition_id : 0
admission_source_id : 0
time_in_hospital : 0
payer_code : 40256
medical_specialty : 49949
num_lab_procedures : 0
num_procedures : 0
num_medications : 0
number_outpatient : 0
number_emergency : 0
number_inpatient : 0
diag_1 : 21
diag_2 : 358
diag_3 : 1423
number_diagnoses : 0
max_glu_serum : 0
A1Cresult : 0
metformin : 0
repaglinide : 0
nateglinide : 0
chlorpropamide : 0
glimepiride : 0
acetohexamide : 0
glipizide : 0
glyburide : 0
tolbutamide : 0
pioglitazone : 0
rosiglitazone : 0
acarbose : 0
miglitol : 0
troglitazone : 0
tolazamide : 0
examide : 0
citoglipton : 0
insulin : 0
glyburide-metformin : 0
glipizide-metformin : 0
glimepiride-pioglitazone : 0
metformin-rosiglitazone : 0
metformin-pioglitazone : 0
change : 0
diabetesMed : 0
readmitted : 0

In [9]:
for column in df:
#     print(column)
#     print(counter)
    counter = 0
    for element in df[column]:
        #print(row)
        if element == 'No':
            counter += 1
    print('{} : {}'.format(column, counter))

encounter_id : 0
patient_nbr : 0
race : 0
gender : 0
age : 0
weight : 0
admission_type_id : 0
discharge_disposition_id : 0
admission_source_id : 0
time_in_hospital : 0
payer_code : 0
medical_specialty : 0
num_lab_procedures : 0
num_procedures : 0
num_medications : 0
number_outpatient : 0
number_emergency : 0
number_inpatient : 0
diag_1 : 0
diag_2 : 0
diag_3 : 0
number_diagnoses : 0
max_glu_serum : 0
A1Cresult : 0
metformin : 81778
repaglinide : 100227
nateglinide : 101063
chlorpropamide : 101680
glimepiride : 96575
acetohexamide : 101765
glipizide : 89080
glyburide : 91116
tolbutamide : 101743
pioglitazone : 94438
rosiglitazone : 95401
acarbose : 101458
miglitol : 101728
troglitazone : 101763
tolazamide : 101727
examide : 101766
citoglipton : 101766
insulin : 47383
glyburide-metformin : 101060
glipizide-metformin : 101753
glimepiride-pioglitazone : 101765
metformin-rosiglitazone : 101764
metformin-pioglitazone : 101765
change : 54755
diabetesMed : 23403
readmitted : 0

In [10]:
df.drop(['weight', 'payer_code', 'patient_nbr', 'medical_specialty', 'examide', 'citoglipton', 'glimepiride-pioglitazone', 'metformin-rosiglitazone', 
         'metformin-pioglitazone', 'acetohexamide', 'troglitazone' ], axis = 1, inplace = True)
df.head(10)

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,rosiglitazone,acarbose,miglitol,tolazamide,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted
0,2278392,Caucasian,Female,[0-10),6,25,1,1,41,0,...,No,No,No,No,No,No,No,No,No,NO
1,149190,Caucasian,Female,[10-20),1,1,7,3,59,0,...,No,No,No,No,Up,No,No,Ch,Yes,>30
2,64410,AfricanAmerican,Female,[20-30),1,1,7,2,11,5,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,Caucasian,Male,[30-40),1,1,7,2,44,1,...,No,No,No,No,Up,No,No,Ch,Yes,NO
4,16680,Caucasian,Male,[40-50),1,1,7,1,51,0,...,No,No,No,No,Steady,No,No,Ch,Yes,NO
5,35754,Caucasian,Male,[50-60),2,1,2,3,31,6,...,No,No,No,No,Steady,No,No,No,Yes,>30
6,55842,Caucasian,Male,[60-70),3,1,2,4,70,1,...,No,No,No,No,Steady,No,No,Ch,Yes,NO
7,63768,Caucasian,Male,[70-80),1,1,7,5,73,0,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,Caucasian,Female,[80-90),2,1,4,13,68,2,...,No,No,No,No,Steady,No,No,Ch,Yes,NO
9,15738,Caucasian,Female,[90-100),3,3,4,12,33,3,...,Steady,No,No,No,Steady,No,No,Ch,Yes,NO

In [22]:
df['readmitted'] = df['readmitted'].map(lambda x: 2 if x=='>30' else (1 if x=='<30' else 0))
df.readmitted = df.readmitted.astype('int64')
df.head()

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,rosiglitazone,acarbose,miglitol,tolazamide,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted
1,149190,Caucasian,Female,[10-20),1,1,7,3,59,0,...,No,No,No,No,Up,No,No,Ch,Yes,0
2,64410,AfricanAmerican,Female,[20-30),1,1,7,2,11,5,...,No,No,No,No,No,No,No,No,Yes,0
3,500364,Caucasian,Male,[30-40),1,1,7,2,44,1,...,No,No,No,No,Up,No,No,Ch,Yes,0
4,16680,Caucasian,Male,[40-50),1,1,7,1,51,0,...,No,No,No,No,Steady,No,No,Ch,Yes,0
5,35754,Caucasian,Male,[50-60),2,1,2,3,31,6,...,No,No,No,No,Steady,No,No,No,Yes,0

In [28]:
to_drop = df[df['race'] == '?']
df.drop(to_drop.index, axis=0, inplace=True)

to_drop = df[df['diag_1'] == '?']
df.drop(to_drop.index, axis=0, inplace=True)
#df.diag_1 = df.diag_1.astype('float')

to_drop = df[df['diag_2'] == '?']
df.drop(to_drop.index, axis=0, inplace=True)
#df.diag_2 = df.diag_2.astype('float')

to_drop = df[df['diag_3'] == '?']
df.drop(to_drop.index, axis=0, inplace=True)
#df.diag_3 = df.diag_3.astype('float')

In [45]:
df['diag_1'].str.startswith('V')

1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
22        False
23         True
24        False
25        False
26        False
27        False
28        False
29        False
30        False
31        False
32        False
33        False
          ...
101736    False
101737    False
101738    False
101739    False
101740    False
101741    False
101742    False
101743    False
101744    False
101745    False
101746    False
101747    False
101748    False
101749    False
101750    False
101751    False
101752    False
101753    False
101754    False
101755    False
101756    False
101757    False
101758    False
101759    False
101760    False
101761    False
101762    False
101763    False
101764    False
101765    False
Name: diag_1, Length: 98053, dtype: bool

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98053 entries, 1 to 101765
Data columns (total 39 columns):
encounter_id                98053 non-null int64
race                        98053 non-null object
gender                      98053 non-null object
age                         98053 non-null object
admission_type_id           98053 non-null int64
discharge_disposition_id    98053 non-null int64
admission_source_id         98053 non-null int64
time_in_hospital            98053 non-null int64
num_lab_procedures          98053 non-null int64
num_procedures              98053 non-null int64
num_medications             98053 non-null int64
number_outpatient           98053 non-null int64
number_emergency            98053 non-null int64
number_inpatient            98053 non-null int64
diag_1                      98053 non-null object
diag_2                      98053 non-null object
diag_3                      98053 non-null object
number_diagnoses            98053 non-null int64
max_glu_serum               98053 non-null object
A1Cresult                   98053 non-null object
metformin                   98053 non-null object
repaglinide                 98053 non-null object
nateglinide                 98053 non-null object
chlorpropamide              98053 non-null object
glimepiride                 98053 non-null object
glipizide                   98053 non-null object
glyburide                   98053 non-null object
tolbutamide                 98053 non-null object
pioglitazone                98053 non-null object
rosiglitazone               98053 non-null object
acarbose                    98053 non-null object
miglitol                    98053 non-null object
tolazamide                  98053 non-null object
insulin                     98053 non-null object
glyburide-metformin         98053 non-null object
glipizide-metformin         98053 non-null object
change                      98053 non-null object
diabetesMed                 98053 non-null object
readmitted                  98053 non-null int64
dtypes: int64(13), object(26)
memory usage: 29.9+ MB

In [14]:
race_list = df.index[df['gender'] == '?'].tolist()
print(len(race_list))

0

In [15]:
for each in df["encounter_id"][0:5]:
    print(type(each))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [16]:
df.drop

<bound method DataFrame.drop of         encounter_id             race  gender       age  admission_type_id  \
1             149190        Caucasian  Female   [10-20)                  1
2              64410  AfricanAmerican  Female   [20-30)                  1
3             500364        Caucasian    Male   [30-40)                  1
4              16680        Caucasian    Male   [40-50)                  1
5              35754        Caucasian    Male   [50-60)                  2
6              55842        Caucasian    Male   [60-70)                  3
7              63768        Caucasian    Male   [70-80)                  1
8              12522        Caucasian  Female   [80-90)                  2
9              15738        Caucasian  Female  [90-100)                  3
10             28236  AfricanAmerican  Female   [40-50)                  1
11             36900  AfricanAmerican    Male   [60-70)                  2
12             40926        Caucasian  Female   [40-50)                  1
13             42570        Caucasian    Male   [80-90)                  1
14             62256  AfricanAmerican  Female   [60-70)                  3
15             73578  AfricanAmerican    Male   [60-70)                  1
16             77076  AfricanAmerican    Male   [50-60)                  1
17             84222        Caucasian  Female   [50-60)                  1
18             89682  AfricanAmerican    Male   [70-80)                  1
22            182796  AfricanAmerican  Female   [70-80)                  2
23            183930        Caucasian  Female   [80-90)                  2
24            216156  AfricanAmerican  Female   [70-80)                  3
25            221634            Other  Female   [50-60)                  1
26            236316        Caucasian    Male   [80-90)                  1
27            248916        Caucasian  Female   [50-60)                  1
28            250872        Caucasian    Male   [20-30)                  2
29            252822        Caucasian  Female   [80-90)                  1
30            253380  AfricanAmerican  Female   [60-70)                  1
31            253722  AfricanAmerican    Male   [70-80)                  1
32            260166        Caucasian  Female   [70-80)                  1
33            293058        Caucasian    Male   [60-70)                  2
...              ...              ...     ...       ...                ...
101736     443739152        Caucasian  Female   [60-70)                  1
101737     443775086        Caucasian  Female   [40-50)                  3
101738     443775482        Caucasian    Male   [70-80)                  1
101739     443775740  AfricanAmerican    Male   [70-80)                  1
101740     443778398        Caucasian    Male   [40-50)                  3
101741     443787128  AfricanAmerican    Male  [90-100)                  1
101742     443787512        Caucasian    Male   [70-80)                  2
101743     443793668        Caucasian    Male   [80-90)                  1
101744     443793992        Caucasian  Female   [80-90)                  1
101745     443797076        Caucasian    Male   [50-60)                  2
101746     443797298        Caucasian    Male   [70-80)                  1
101747     443804570        Caucasian  Female   [70-80)                  1
101748     443811536        Caucasian  Female   [40-50)                  1
101749     443816024        Caucasian  Female   [70-80)                  3
101750     443824292        Caucasian  Female   [80-90)                  3
101751     443835140        Caucasian    Male   [70-80)                  3
101752     443835512            Other  Female   [40-50)                  3
101753     443841992            Other    Male   [40-50)                  1
101754     443842016        Caucasian  Female   [70-80)                  1
101755     443842022            Other  Female   [40-50)                  1
101756     443842070            Other  Female   [60-70)                  1
101757     443842136        Caucasian  Female   [70-80)                  1
101758     443842340        Caucasian  Female   [80-90)                  1
101759     443842778        Caucasian    Male   [80-90)                  1
101760     443847176  AfricanAmerican  Female   [60-70)                  1
101761     443847548  AfricanAmerican    Male   [70-80)                  1
101762     443847782  AfricanAmerican  Female   [80-90)                  1
101763     443854148        Caucasian    Male   [70-80)                  1
101764     443857166        Caucasian  Female   [80-90)                  2
101765     443867222        Caucasian    Male   [70-80)                  1

        discharge_disposition_id  admission_source_id  time_in_hospital  \
1                              1                    7                 3
2                              1                    7                 2
3                              1                    7                 2
4                              1                    7                 1
5                              1                    2                 3
6                              1                    2                 4
7                              1                    7                 5
8                              1                    4                13
9                              3                    4                12
10                             1                    7                 9
11                             1                    4                 7
12                             3                    7                 7
13                             6                    7                10
14                             1                    2                 1
15                             3                    7                12
16                             1                    7                 4
17                             1                    7                 3
18                             1                    7                 5
22                             1                    4                 2
23                             6                    1                11
24                             1                    2                 3
25                             1                    7                 1
26                             3                    7                 6
27                             1                    1                 2
28                             1                    2                10
29                             2                    7                 5
30                             1                    7                 6
31                             5                    7                 1
32                             1                    7                 6
33                             6                    2                 5
...                          ...                  ...               ...
101736                         3                    7                 8
101737                         1                    1                 4
101738                         1                    7                 1
101739                         1                    7                 1
101740                         1                    1                 1
101741                         3                    7                 4
101742                         6                    2                 4
101743                        13                    7                 3
101744                         1                    7                 1
101745                         1                    1                 3
101746                         1                    7                 4
101747                        22                    7                 8
101748                         4                    7                14
101749                         6                    1                 3
101750                         1                    1                 3
101751                         6                    1                13
101752                         1                    1                 3
101753                         1                    7                13
101754                         1                    7                 9
101755                         1                    7                14
101756                         1                    7                 2
101757                         1                    7                 5
101758                         1                    7                 5
101759                         1                    7                 1
101760                         1                    7                 6
101761                         3                    7                 3
101762                         4                    5                 5
101763                         1                    7                 1
101764                         3                    7                10
101765                         1                    7                 6

        num_lab_procedures  num_procedures    ...      rosiglitazone  \
1                       59               0    ...                 No
2                       11               5    ...                 No
3                       44               1    ...                 No
4                       51               0    ...                 No
5                       31               6    ...                 No
6                       70               1    ...                 No
7                       73               0    ...                 No
8                       68               2    ...                 No
9                       33               3    ...             Steady
10                      47               2    ...                 No
11                      62               0    ...                 No
12                      60               0    ...                 No
13                      55               1    ...                 No
14                      49               5    ...                 No
15                      75               5    ...                 No
16                      45               4    ...                 No
17                      29               0    ...                 No
18                      35               5    ...                 No
22                      47               0    ...                 No
23                      42               2    ...                 No
24                      19               4    ...                 No
25                      33               0    ...                 No
26                      64               3    ...                 No
27                      25               2    ...                 No
28                      53               0    ...                 No
29                      52               0    ...                 No
30                      87               0    ...                 No
31                      53               0    ...                 No
32                      27               0    ...                 No
33                      37               0    ...                 No
...                    ...             ...    ...                ...
101736                  54               1    ...                 No
101737                  50               4    ...                 No
101738                  37               0    ...                 No
101739                  32               6    ...                 No
101740                   1               5    ...                 No
101741                  21               1    ...                 No
101742                  43               0    ...                 No
101743                  45               0    ...             Steady
101744                  49               0    ...                 No
101745                  57               0    ...                 No
101746                   2               0    ...                 No
101747                  51               6    ...                 No
101748                  69               0    ...                 No
101749                  27               1    ...                 No
101750                  31               2    ...                 No
101751                  77               6    ...                 No
101752                  13               1    ...                 No
101753                  51               2    ...                 No
101754                  50               2    ...                 No
101755                  73               6    ...                 No
101756                  46               6    ...                 No
101757                  21               1    ...                 No
101758                  76               1    ...                 No
101759                   1               0    ...                 No
101760                  45               1    ...             Steady
101761                  51               0    ...                 No
101762                  33               3    ...                 No
101763                  53               0    ...                 No
101764                  45               2    ...                 No
101765                  13               3    ...                 No

        acarbose  miglitol  tolazamide insulin glyburide-metformin  \
1             No        No          No      Up                  No
2             No        No          No      No                  No
3             No        No          No      Up                  No
4             No        No          No  Steady                  No
5             No        No          No  Steady                  No
6             No        No          No  Steady                  No
7             No        No          No      No                  No
8             No        No          No  Steady                  No
9             No        No          No  Steady                  No
10            No        No          No  Steady                  No
11            No        No          No  Steady                  No
12            No        No          No    Down                  No
13            No        No          No  Steady                  No
14            No        No          No  Steady                  No
15            No        No          No      Up                  No
16            No        No          No  Steady                  No
17            No        No          No      No                  No
18            No        No          No  Steady                  No
22            No        No          No      No                  No
23            No        No          No      No                  No
24            No        No          No  Steady                  No
25            No        No          No      No                  No
26            No        No          No      No                  No
27            No        No          No  Steady                  No
28            No        No          No    Down                  No
29            No        No          No      No                  No
30        Steady        No          No  Steady                  No
31            No        No          No    Down                  No
32            No        No          No  Steady                  No
33            No        No          No  Steady                  No
...          ...       ...         ...     ...                 ...
101736        No        No          No  Steady                  No
101737        No        No          No  Steady                  No
101738        No        No          No      No                  No
101739        No        No          No  Steady                  No
101740        No        No          No  Steady                  No
101741        No        No          No      No                  No
101742        No        No          No  Steady                  No
101743        No        No          No    Down                  No
101744        No        No          No      No                  No
101745        No        No          No      No                  No
101746        No        No          No      No                  No
101747        No        No          No  Steady                  No
101748        No        No          No    Down                  No
101749        No        No          No  Steady                  No
101750        No        No          No    Down                  No
101751        No        No          No      Up                  No
101752        No        No          No  Steady                  No
101753        No        No          No    Down                  No
101754        No        No          No  Steady                  No
101755        No        No          No      Up                  No
101756        No        No          No  Steady                  No
101757        No        No          No  Steady                  No
101758        No        No          No      Up                  No
101759        No        No          No      Up                  No
101760        No        No          No    Down                  No
101761        No        No          No    Down                  No
101762        No        No          No  Steady                  No
101763        No        No          No    Down                  No
101764        No        No          No      Up                  No
101765        No        No          No      No                  No

       glipizide-metformin  change diabetesMed readmitted
1                       No      Ch         Yes          2
2                       No      No         Yes          0
3                       No      Ch         Yes          0
4                       No      Ch         Yes          0
5                       No      No         Yes          2
6                       No      Ch         Yes          0
7                       No      No         Yes          2
8                       No      Ch         Yes          0
9                       No      Ch         Yes          0
10                      No      No         Yes          2
11                      No      Ch         Yes          1
12                      No      Ch         Yes          1
13                      No      No         Yes          0
14                      No      No         Yes          2
15                      No      Ch         Yes          0
16                      No      Ch         Yes          1
17                      No      No         Yes          0
18                      No      No         Yes          2
22                      No      No          No          0
23                      No      No          No          2
24                      No      Ch         Yes          0
25                      No      No         Yes          0
26                      No      Ch         Yes          0
27                      No      No         Yes          2
28                      No      Ch         Yes          2
29                      No      Ch         Yes          2
30                      No      Ch         Yes          0
31                      No      Ch         Yes          2
32                      No      No         Yes          2
33                      No      No         Yes          2
...                    ...     ...         ...        ...
101736                  No      No         Yes          2
101737                  No      Ch         Yes          0
101738                  No      No         Yes          0
101739                  No      No         Yes          0
101740                  No      Ch         Yes          0
101741                  No      No          No          0
101742                  No      Ch         Yes          0
101743                  No      Ch         Yes          0
101744                  No      No          No          0

In [17]:
df['race'].value_counts()

Caucasian          75079
AfricanAmerican    18881
Hispanic            1984
Other               1484
Asian                625
Name: race, dtype: int64

In [18]:
df['num_procedures'].unique()

array([0, 5, 1, 6, 2, 3, 4])

In [19]:
df.groupby(['race', 'readmitted'])['readmitted'].count()

race             readmitted
AfricanAmerican  0             10198
                 1              2140
                 2              6543
Asian            0               401
                 1                65
                 2               159
Caucasian        0             39693
                 1              8512
                 2             26874
Hispanic         0              1144
                 1               207
                 2               633
Other            0               902
                 1               142
                 2               440
Name: readmitted, dtype: int64

In [20]:
df.groupby(['age','readmitted']).count()

                     encounter_id   race  gender  admission_type_id  \
age      readmitted
[0-10)   0                     51     51      51                 51
         1                      1      1       1                  1
         2                     13     13      13                 13
[10-20)  0                    271    271     271                271
         1                     31     31      31                 31
         2                    164    164     164                164
[20-30)  0                    805    805     805                805
         1                    213    213     213                213
         2                    460    460     460                460
[30-40)  0                   1998   1998    1998               1998
         1                    408    408     408                408
         2                   1142   1142    1142               1142
[40-50)  0                   5076   5076    5076               5076
         1                   1000   1000    1000               1000
         2                   3189   3189    3189               3189
[50-60)  0                   9255   9255    9255               9255
         1                   1638   1638    1638               1638
         2                   5804   5804    5804               5804
[60-70)  0                  11614  11614   11614              11614
         1                   2460   2460    2460               2460
         2                   7735   7735    7735               7735
[70-80)  0                  13039  13039   13039              13039
         1                   3004   3004    3004               3004
         2                   9263   9263    9263               9263
[80-90)  0                   8604   8604    8604               8604
         1                   2012   2012    2012               2012
         2                   6086   6086    6086               6086
[90-100) 0                   1625   1625    1625               1625
         1                    299    299     299                299
         2                    793    793     793                793

                     discharge_disposition_id  admission_source_id  \
age      readmitted
[0-10)   0                                 51                   51
         1                                  1                    1
         2                                 13                   13
[10-20)  0                                271                  271
         1                                 31                   31
         2                                164                  164
[20-30)  0                                805                  805
         1                                213                  213
         2                                460                  460
[30-40)  0                               1998                 1998
         1                                408                  408
         2                               1142                 1142
[40-50)  0                               5076                 5076
         1                               1000                 1000
         2                               3189                 3189
[50-60)  0                               9255                 9255
         1                               1638                 1638
         2                               5804                 5804
[60-70)  0                              11614                11614
         1                               2460                 2460
         2                               7735                 7735
[70-80)  0                              13039                13039
         1                               3004                 3004
         2                               9263                 9263
[80-90)  0                               8604                 8604
         1                               2012                 2012
         2                               6086                 6086
[90-100) 0                               1625                 1625
         1                                299                  299
         2                                793                  793

                     time_in_hospital  num_lab_procedures  num_procedures  \
age      readmitted
[0-10)   0                         51                  51              51
         1                          1                   1               1
         2                         13                  13              13
[10-20)  0                        271                 271             271
         1                         31                  31              31
         2                        164                 164             164
[20-30)  0                        805                 805             805
         1                        213                 213             213
         2                        460                 460             460
[30-40)  0                       1998                1998            1998
         1                        408                 408             408
         2                       1142                1142            1142
[40-50)  0                       5076                5076            5076
         1                       1000                1000            1000
         2                       3189                3189            3189
[50-60)  0                       9255                9255            9255
         1                       1638                1638            1638
         2                       5804                5804            5804
[60-70)  0                      11614               11614           11614
         1                       2460                2460            2460
         2                       7735                7735            7735
[70-80)  0                      13039               13039           13039
         1                       3004                3004            3004
         2                       9263                9263            9263
[80-90)  0                       8604                8604            8604
         1                       2012                2012            2012
         2                       6086                6086            6086
[90-100) 0                       1625                1625            1625
         1                        299                 299             299
         2                        793                 793             793

                     num_medications     ...       pioglitazone  \
age      readmitted                      ...
[0-10)   0                        51     ...                 51
         1                         1     ...                  1
         2                        13     ...                 13
[10-20)  0                       271     ...                271
         1                        31     ...                 31
         2                       164     ...                164
[20-30)  0                       805     ...                805
         1                       213     ...                213
         2                       460     ...                460
[30-40)  0                      1998     ...               1998
         1                       408     ...                408
         2                      1142     ...               1142
[40-50)  0                      5076     ...               5076
         1                      1000     ...               1000
         2                      3189     ...               3189
[50-60)  0                      9255     ...               9255
         1                      1638     ...               1638
         2                      5804     ...               5804
[60-70)  0                     11614     ...              11614
         1                      2460     ...               2460
         2                      7735     ...               7735
[70-80)  0                     13039     ...              13039
         1                      3004     ...               3004
         2                      9263     ...               9263
[80-90)  0                      8604     ...               8604
         1                      2012     ...               2012
         2                      6086     ...               6086
[90-100) 0                      1625     ...               1625
         1                       299     ...                299
         2                       793     ...                793

                     rosiglitazone  acarbose  miglitol  tolazamide  insulin  \
age      readmitted
[0-10)   0                      51        51        51          51       51
         1                       1         1         1           1        1
         2                      13        13        13          13       13
[10-20)  0                     271       271       271         271      271
         1                      31        31        31          31       31
         2                     164       164       164         164      164
[20-30)  0                     805       805       805         805      805
         1                     213       213       213         213      213
         2                     460       460       460         460      460
[30-40)  0                    1998      1998      1998        1998     1998
         1                     408       408       408         408      408
         2                    1142      1142      1142        1142     1142
[40-50)  0                    5076      5076      5076        5076     5076
         1                    1000      1000      1000        1000     1000
         2                    3189      3189      3189        3189     3189
[50-60)  0                    9255      9255      9255        9255     9255
         1                    1638      1638      1638        1638     1638
         2                    5804      5804      5804        5804     5804
[60-70)  0                   11614     11614     11614       11614    11614
         1                    2460      2460      2460        2460     2460
         2                    7735      7735      7735        7735     7735
[70-80)  0                   13039     13039     13039       13039    13039
         1                    3004      3004      3004        3004     3004
         2                    9263      9263      9263        9263     9263
[80-90)  0                    8604      8604      8604        8604     8604
         1                    2012      2012      2012        2012     2012
         2                    6086      6086      6086        6086     6086
[90-100) 0                    1625      1625      1625        1625     1625
         1                     299       299       299         299      299
         2                     793       793       793         793      793

                     glyburide-metformin  glipizide-metformin  change  \
age      readmitted
[0-10)   0                            51                   51      51
         1                             1                    1       1
         2                            13                   13      13
[10-20)  0                           271                  271     271
         1                            31                   31      31
         2                           164                  164     164
[20-30)  0                           805                  805     805
         1                           213                  213     213
         2                           460                  460     460
[30-40)  0                          1998                 1998    1998
         1                           408                  408     408
         2                          1142                 1142    1142
[40-50)  0                          5076                 5076    5076
         1                          1000                 1000    1000
         2                          3189                 3189    3189
[50-60)  0                          9255                 9255    9255
         1                          1638                 1638    1638
         2                          5804                 5804    5804
[60-70)  0                         11614                11614   11614
         1                          2460                 2460    2460
         2                          7735                 7735    7735
[70-80)  0                         13039                13039   13039
         1                          3004                 3004    3004
         2                          9263                 9263    9263
[80-90)  0                          8604                 8604    8604
         1                          2012                 2012    2012
         2                          6086                 6086    6086
[90-100) 0                          1625                 1625    1625
         1                           299                  299     299
         2                           793                  793     793

                     diabetesMed
age      readmitted
[0-10)   0                    51
         1                     1
         2                    13
[10-20)  0                   271
         1                    31
         2                   164
[20-30)  0                   805
         1                   213
         2                   460
[30-40)  0                  1998
         1                   408
         2                  1142
[40-50)  0                  5076
         1                  1000
         2                  3189
[50-60)  0                  9255
         1                  1638
         2                  5804
[60-70)  0                 11614
         1                  2460
         2                  7735
[70-80)  0                 13039
         1                  3004
         2                  9263
[80-90)  0                  8604
         1                  2012
         2                  6086
[90-100) 0                  1625
         1                   299
         2                   793

[30 rows x 37 columns]

In [21]:
df['age'].unique()

array(['[10-20)', '[20-30)', '[30-40)', '[40-50)', '[50-60)', '[60-70)',
       '[70-80)', '[80-90)', '[90-100)', '[0-10)'], dtype=object)